/* globals.css */
body {
    background-color: #f9fafb;
    color: #1f2937;
    position: relative;
    padding-top: 28px; /* Adjust based on your layout */
    font-family: 'Inter', sans-serif; /* Ensure Inter font is loaded */
  }
  
  .bg-blob-1 {
    background-color: #fbe2e3;
    position: absolute;
    top: -6rem;
    right: 11rem;
    height: 31.25rem;
    width: 31.25rem;
    border-radius: 50%;
    filter: blur(10rem);
    z-index: -10;
  }
  
  .bg-blob-2 {
    background-color: #dbd7fb;
    position: absolute;
    top: -1rem;
    left: -35rem;
    height: 31.25rem;
    width: 50rem;
    border-radius: 50%;
    filter: blur(10rem);
    z-index: -10;
  }
  
  /* Add dark mode styles if your React app supports it */